elasticsearch
sentence-transformers
PyMuPDF
python-docx
pandas
openpyxl
python-pptx
langchain-text-splitters
streamlit
python-dotenv
colorlog
torch
tqdm
numpy
langchain
langchain-openai
langchain-groq
langsmith
tiktoken
transformers
langchain-huggingface
langchain-community
pydantic
pydantic-settings